<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" packages="de.qaware.chronix.examples.exploration.ui.log">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <TextAreaAppender name="Ui">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </TextAreaAppender>

    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Ui"/>
        </Root>
    </Loggers>
</Configuration>

